<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean
		class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:configuration.properties</value>
				<value>file:configuration.properties</value>
			</list>
		</property>
	</bean>

	<bean class="org.apache.pdfbox.pdmodel.DocumentWriter">
		<property name="jFrame">
			<bean class="javax.swing.JFrame">
				<property name="layout"
					value="#{new net.miginfocom.swing.MigLayout()}" />
				<property name="defaultCloseOperation"
					value="#{T(javax.swing.JFrame).EXIT_ON_CLOSE}" />
			</bean>
		</property>
		<!-- fontName -->
		<property name="fontName" value="${fontName}" />
		<!-- fontSize -->
		<property name="fontSize"
			value="#{T(java.lang.Math).max(T(org.apache.commons.lang3.math.NumberUtils).toInt(${fontSize},0),1)}" />
		<!-- margin -->
		<property name="margin"
			value="#{T(java.lang.Math).max(T(org.apache.commons.lang3.math.NumberUtils).toInt(${margin},0),1)}" />
	</bean>

</beans>